.c aption {
  height: 130px;
  overflow: hidden;
}
.c aption h4 { white-space: nowrap;}
.thumbnail { padding: 0;}
.thumbnail img { width: 100%;}
.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}
.r atings {
  color: #d17581;
  padding-left: 10px;
  padding-right: 10px;
}
